<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title></title>
    <link rel="stylesheet" href="../public/css/style.css" />
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    /> -->
  </head>
  <body>
    <header>
      <h2>Sign UP</h2>
    </header>

    <section class="container">
      <form id="my-form-signup">
        <h3>Enter Details</h3>
        <div class="msg"></div>
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" required />
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" required />
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" required />
        </div>
        <input class="btn" type="submit" value="Submit" />
      </form>
      <div>
        <a href="./login.html">Existing User login</a>
      </div>

      <ul id="users"></ul>

      <ul class="items" id="lisOfItems"></ul>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script>
      const myFormSignup = document.querySelector("#my-form-signup");

      myFormSignup.addEventListener("submit", onSubmitSignup);

      function onSubmitSignup(e) {
        e.preventDefault();

        const name = document.getElementById("name").value;
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

        let myObj = {
          name: name,
          email: email,
          password: password,
        };

        axios
          .post("http://localhost:3000/expense-user/add-user", myObj)
          .then((res) => {
            alert(res.data.message);
            location.reload();
          })
          .catch((err) => {
            //   document.body.innerHTML =
            //     document.body.innerHTML + "<h2>User Already Exists<h2/>";
            alert(err.data.message);
            console.log(err);
          });
      }
    </script>
  </body>
</html>
